<section class="jumbotron text-center">
  <div class="container">
    <h1>My Portfolio</h1>
    <p class="lead text-muted">Some of my latest and/or favorite works so far. Fell free to click on them to learn a bit more about it and visit some that may be still up and running</p>
    <p>
      <%= link_to "Find out more about me ", about_me_path, class: 'btn btn-primary my-2' %>
      <%= link_to "Check out my blog", blogs_path, class: 'btn btn-secondary my-2' %>
    </p>
  </div>
</section>
