<footer class="text-muted">
  <div class="container">
    <p>
      &#169;2020 Victor Garzel all rights reserved.
    </p>
    <p class="float-right">
      <%= link_to "View all Portfolio items", portfolios_path %> / 
      <a href="#">Back to top</a>
    </p>
  </div>
</footer>
