<footer class="text-muted">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        &#169;2020 Victor Garzel all rights reserved.
      </div>
      <div class="col-md-6 footer-link">
        <%= link_to "View all Portfolio items", portfolios_path %>  /  
        <a href="#">Back to top</a>
      </div>
    </div>
  </div>
</footer>
