/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap/scss/bootstrap";

.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: 0.25rem;
}

// custom css
.portfolio-new {
  margin-top: 3rem;
}

.portfolio-container {
  margin-top: 30px;
}

.footer-link {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.footer-link a {
  margin-left: 3px;
  margin-right: 3px;
}
